.container {
    margin: 38px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .post_card {
        width: 44%;
      
        font-family: Roboto;
        margin-bottom: 30px;
        border-radius: 6px;
        border: solid 1px #979797;
        background-color: #fff;
        display: flex;
        justify-content: space-between;

        &:hover {
            opacity: 0.4;
        }

        .container_card {
            display: flex;
            flex-direction: column;
            padding: 7px 25px;
            justify-content: center;
            width: 100%;

            .info {
                display: flex;
                align-items: center;
                font-size: 11px;
                color: $light-gray;

                svg {
                    margin-right: 8px;
                }
            }

            .title {
                margin-top: 7px;
                font-size: 14px;
                letter-spacing: 0.25px;
                color: #606060;
              
            }
        }

        .fav {
            padding: 35px 22px 33px;
            background-color: #60606010;
        }
    }

    @media (max-width: $max-width-bg) {
        width: 70%;
        flex-direction: column;
        align-items: center;
        .post_card {
            width: 100%;
            .container_card {
                .title {
                   word-break: break-all; 
                }
            }
        }
      }

      
    @media (max-width: $max-width-sm) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .post_card {
            width: 100%;
            .container_card {
                .title {
                   word-break: break-all; 
                }
            }
        }
      }
}