.toogler_section {
    display: flex;
    justify-content: center;

    button {
        width: 98px;
        height: 31px;
        text-align: center;
        border-radius: 2px;
        border: solid 1px #d6d6d6;
        font-family: Roboto;
        font-size: 16px;
        color: #606060;
    }

    
}