* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  font-family: Baskerville;
}

main {

}

//--------- Variables --------------
$main-gray:#6b6b6b;
$light-gray: #767676;
$card-darker-bg:#606060;
$max-width-rs: 710px;
$dark-gray: #3b3b3b;

@media (max-width: $max-width-rs) {}

//--------- Fonts --------------




// //--------- Views --------------


// //--------- Layout --------------
@import "./layout/news-container.scss";
@import "./layout/app.scss";

// //--------- Componentes --------------
@import "./components/header.scss";
@import "./components/toogler-view.scss";
@import "./components/post-card.scss";
@import "./components/news-list.scss";
@import "./components/dropdown.scss";
@import "./components/spinner.scss";

